@{
    ViewData["Title"] = "Data Source";
}

<style>
    table, td {
        border: 1px solid black;
    }
    tr {
        border: 1px solid black;
    }
</style>

<div class="row" id="datasource">
    <div class="col-lg-12" style="padding:5px;">
        <input type="date" id="date-picker" name="trip"
               onchange="datePickerChange()"
               min="2018-01-01" max="2028-12-31" />
        <h2 id="loading">正在计算数据... 如果数据多可能会需要等待几十秒</h2>
        <div id="result-table" style="margin-top:10px;">

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#date-picker').val(formatDate(new Date()));
        getResultByDate($('#date-picker')[0].value);
    });

    function datePickerChange() {
        getResultByDate($('#date-picker')[0].value);
    }

    function getResultByDate(date) {
        $('#loading')[0].style.display = 'initial';
        $('#result-table')[0].innerHtml = '';
        fetch('/DataSource/GetResult/' + date, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(e => {
            $('#loading')[0].style.display = 'none';
            if (e.status === 200) {
                return e.json()
            }
            else {
                return undefined;
            }
        }).then(body => {
            //$('#result-table')[0].innerHTML = JSON.stringify(body);
            composeHtml(body);
        });
            //.catch(e => {
            //    $('#loading')[0].style.display = 'none';
            //});
    }

    function composeHtml(dataSource) {
        var table = document.createElement('table');
        composeFirst3Lines(table, dataSource);
        //baobeiTotalResults(table, dataSource.baobeiTotalResults);
        document.getElementById('result-table').innerHTML = '';
        document.getElementById('result-table').appendChild(table);
    }
    function composeFirst3Lines(table, dataSource) {
        var trFirstRow = document.createElement('tr');
        var trSecondRow = document.createElement('tr');
        var trThirdRow = document.createElement('tr');

        let td1_0 = document.createElement('td');
        td1_0.colSpan = dataSource.feeTypes.length + 2;
        trFirstRow.appendChild(td1_0);
        let td2_0 = document.createElement('td');
        td2_0.colSpan = dataSource.feeTypes.length + 2;
        trSecondRow.appendChild(td2_0);
        for (let i = 0; i < dataSource.feeTypes.length + 2; i++) {
            if (i >= 2) {
                let feeType = dataSource.feeTypes[i-2];
                let td3 = document.createElement('td');
                let td3_innerDiv = document.createElement('div');
                td3_innerDiv.innerText = feeType;
                td3_innerDiv.style.width = '100px';
                td3_innerDiv.style.padding = '5px';
                td3.appendChild(td3_innerDiv);
                trThirdRow.appendChild(td3);
            }
            else{
                let td3 = document.createElement('td');
                let td3_innerDiv = document.createElement('div');
                if (i === 0)
                    td3_innerDiv.innerText = '订单编号';
                else
                    td3_innerDiv.innerText = '已收款';
                td3_innerDiv.style.width = '100px';
                td3_innerDiv.style.padding = '5px';
                td3.appendChild(td3_innerDiv);
                trThirdRow.appendChild(td3);
            }
        }
        for (let i = 0; i < dataSource.baobeiTotalResults.length; i++) {
            let btr = dataSource.baobeiTotalResults[i];
            let td = document.createElement('td');
            td.colSpan = 2;
            let td_innerDiv = document.createElement('div');
            td_innerDiv.innerText = btr.baobeiId + ' - ' + btr.baobeiTitle;
            td_innerDiv.style.width = '160px';
            td_innerDiv.style.padding = '5px';
            td.appendChild(td_innerDiv);
            trFirstRow.appendChild(td);

            let td2_1 = document.createElement('td');
            let td2_1_innerDiv = document.createElement('div');
            td2_1_innerDiv.innerText = '总数量';
            td2_1_innerDiv.style.width = '80px';
            td2_1_innerDiv.style.padding = '5px';
            td2_1.appendChild(td2_1_innerDiv);
            trSecondRow.appendChild(td2_1);
            let td2_2 = document.createElement('td');
            let td2_2_innerDiv = document.createElement('div');
            td2_2_innerDiv.innerText = '当天单价';
            td2_2_innerDiv.style.width = '80px';
            td2_2_innerDiv.style.padding = '5px';
            td2_2.appendChild(td2_2_innerDiv);
            trSecondRow.appendChild(td2_2);

            let td3_1 = document.createElement('td');
            let td3_1_innerDiv = document.createElement('div');
            td3_1_innerDiv.innerText = btr.quantity;
            td3_1_innerDiv.style.width = '80px';
            td3_1_innerDiv.style.padding = '5px';
            td3_1.appendChild(td3_1_innerDiv);
            trThirdRow.appendChild(td3_1);
            let td3_2 = document.createElement('td');
            let td3_2_innerDiv = document.createElement('div');
            td3_2_innerDiv.innerText = btr.amount;
            td3_2_innerDiv.style.width = '80px';
            td3_2_innerDiv.style.padding = '5px';
            td3_2.appendChild(td3_2_innerDiv);
            trThirdRow.appendChild(td3_2);
        }

        table.appendChild(trFirstRow);
        table.appendChild(trSecondRow);
        table.appendChild(trThirdRow);
    }
    
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
